.about-me-container{
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
    min-height: 400px;
}

#about-me{
    color: white;
    margin-bottom: 20px;
    display: block;
}

.about-me-quote{
    color: white;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 60px;
    font-style: italic;
    text-align: center;
}

.about-me-profile{
    width: 100%;
}

#about-me p{
    font-size: 1.2rem;
    /* font-family: 'Playfair Display', serif; */
}

.about-me-paragraph{
    font-family: 'Poppins', sans-serif;
    margin-right: 10%;
}

.button{
    color: white;
    border: solid;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
}

.button:hover{
    color: black;
    background-color: white;
    border-color: white;
    padding: 14px 28px;
    font-size: 16px;
    transition: 0.5s;
}