.profile-images{
    /* box-shadow: 4px 4px 20px 0 rgba(0,0,0,.5); */
    grid-column-start: 2;
}

.profile-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.5);
    float: left;
    margin-right: 50px;
    /* border-style: solid; */
    object-position: 0% 50%;
    filter: grayscale(100%);
}