.tech-stack-container{
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-right: 10%;
}

.tech-header{
    color: white;
    border: solid;
    background-color: inherit;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20px;
}

.items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.item img{
    min-height: 43px;
    margin: 10px;
    border: solid;
    border-width: 3px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

