.overlay-pictures{
    width: 100%;
}

.over-image{
    transition: 1s;
    margin: 20px;
    width: 100%;
    height: 90%;
    object-fit: cover;
    position: relative;
    z-index: 5;
    object-position: 50% 50%;
}

.under-image{
    transition: 1s;
    margin: 20px;
    width: 40%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    z-index: 4;
    object-position: 100% 0%;
}

.restaurant-container .over-image:hover{
    opacity: 0;
    transition: 0.4s;
}

.restaurant-container{
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
}

.restaurant-container p{
    font-size: 1.2rem;
    color: white;
    padding-top: 50px;
    margin-left: 5rem;
    margin-right: 5rem;
}

.restaurant-container a{
    color: white;
}

.restaurant-container a:hover{
    color: black;
}

.restaurant-paragraph{
    display: grid;
    grid-template-rows: 1f 1f;
}

.code-links{
    text-align: end;
}

.code-links a{
    margin: 50px;
    font-size: 1.2rem;
    color: white;
    border: solid;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    margin-bottom: 15px;
}

.code-links a:hover{
    color: black;
    background-color: white;
    border-color: white;
    text-decoration: none;
    transition: 0.5s;
}