@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@font-face {
  font-family: 'argent-cf';
  src: url('/public/argent-cf.otf');
}

.container p {
  /* text-shadow: 5px 5px 1px rgba(0, 0, 0, .8), 0 0 3px rgba(0, 0, 0, 0.3); */
  font-size: 3.0rem;
  margin-left: 0rem;
}
.container {
  color: #e5e5e5;
  font-size: 2.8rem;
  font-family: 'Poppins', sans-serif;
  /* text-transform: uppercase; */
  display: grid;
  align-items: center;
  /* grid-template-rows: 30% 70%; */
  grid-column-start: 3;
  justify-content: center;
}

.animation {
  margin-top: 8rem;
  height:100%;
  overflow:hidden;
  margin-left: 3rem;
  margin-right: 8rem;
  /* text-shadow: 5px 5px 1px rgba(0, 0, 0, .8), 0 0 3px rgba(0, 0, 0, 0.3); */
  /* justify-content: center; */
}

.animation > div > div {
  padding: 0rem 1rem;
  height:5rem;
  margin-bottom: 2.5rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 7s;
}

.first div {
  /* background-color:#20a7d8; */
  /* text-decoration: underline; */
  border-style: solid;
  box-shadow: 4px 4px 20px 0 rgba(0,0,0,.5);
  font-size: 3.5rem;
  text-shadow: 5px 5px 1px rgba(0, 0, 0, .8), 0 0 3px rgba(0, 0, 0, 0.3);
  font-family: argent-cf;
}
.second div {
  /* background-color:#CD921E; */
  font-family: argent-cf;
  margin-top: 1.8rem;
}
.third div {
  /* background-color:#c10528; */
  font-family: argent-cf;
}

@keyframes text-animation {
  0% {margin-top: -11.24rem;}
  20% {margin-top: -11.24rem;}
  40% {margin-top: -5.62rem;}
  60% {margin-top: -5.62rem;}
  80% {margin-top: 0;}
  100% {margin-top: 0;}
}
