.sidebar{
    background-color: #28282B;
    height: 100vh;
    width: 100px;
    position: fixed;
    z-index: 2;
    box-shadow: 2px 0px 0px 0 rgba(0,0,0,.2);
}

.social-container{
    bottom: 0;
    position: absolute;
}

.social-icon-container:hover{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    transform: translate(-2%, -2%);
    transition:all 0.2s;
}

.social-icon{
    margin: 100px;
}